/* Blog Detail Page */

.blog-meta {
  font-size: 14px;
  color: var(--secondary-color);
    padding-top: 0px 10px;

}

.blog-content {
  font-size: 18px;
  /* line-height: 1.8; */
  color: var(--text-color);
  white-space: pre-line;
  margin-bottom: 2rem;
}

.blog-detail-container {
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
}


.read-more-btn {
  background-color: var(--text-color);
  color: var(--primary-color);
  padding: 8px 18px;
  margin-top: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  display: inline-block;
}

.read-more-btn:hover {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  text-decoration: none;
  transform: scale(1.02);
}

h1.display-5 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color);
}

.blog-detail-container {
  padding: 2rem 0;
}

@media (max-width: 768px) {
  .blog-content {
    font-size: 16px;
  }

  h1.display-5 {
    font-size: 2rem;
  }
}
